<!DOCTYPE html>
<html>
  <head>
    <title>iServe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  </head>
  <body>
    <div class="container">
      <div class="span3">
        <h1>Thank you for using iserve</h1>
        <p>We look forward to hearing your feedback at the email address fumin@cardinalblue.com</p>
      </div>
    </div>
  </body>
</html>
